    <footer class="container"style="margin-top: 10px">
      <div class="container">
        <div class="row">
            <div class="col 16 s12">
              <p>&copy; Company 2017-2018</p>
              <!-- Place this tag where you want the button to render. -->

            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li>
                        <a class="github-button" href="https://github.com/bdsilver89/SeniorDesign" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star bdsilver89/SeniorDesign on GitHub">Star</a></li>

                    <li>
                        <a class="github-button" href="https://github.com/bdsilver89/SeniorDesign" aria-label="Follow @bdsilver89 on GitHub">Follow @bdsilver89</a></li>
                </ul>
            </div>
        </div>
      </div>
    </footer>
