<!DOCTYPE html>
<html>
<head>
    <title>AutoSpice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
    {% include 'includes/_navbar.html' %}
    
    <div class="container">
		{% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
    </div>

    {% include 'includes/_footer.html' %}
    
	<!--<script
	  src="https://code.jquery.com/jquery-3.3.1.slim.js"
	  integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
	  crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!--<script src="{{ url_for('static', filename='js/steps.js')}}"></script> -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>
