{% extends 'layout.html' %}

{% block body %}
	<main role="main">

		<h1>{{name}}</h1>
		<p>{{description}}</p>
		
		<h2>Ingredients</h2>
		<ul>
			{% for i in ingredients %}
				<li>
					{% for e in i %}
					{{e}}
					{% endfor %}		
				</li>
			{% endfor %}		
		</ul>
		
		<h2>Directions</h2>
		{% if session.logged_in %}
			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
				<div class="btn-group-vertical" role="group" aria-label="First group">
					<ol>
		{% else %}
			<ol>
		{% endif %}
			{% for d in directions %}
				{% if session.logged_in %}
					<li>
						<div class="row">
						  <div class="col-md-6">
							  <p><a href="/direction/{{name}}/{{loop.index}}" name ="buttonList" class="btn btn-primary">Read Step</a></p>
						  </div>
						  <div class="col-md-6">
							<p>{{d}}</p>
						  </div>
						</div>
					</li>
				{% else %}
					<li>{{d}}</li>
				{% endif %}
			{% endfor %}
		{% if session.logged_in %}
					</ol>
				</div>
			</div>
		{% else %}
			</ol>
		{% endif %}
	
	
		{% if session.logged_in %}
		<p><br></p>
		<form method="post" action="">
		   <p>Press the button to start dispensing this in your AutoSpice!</p>
		   <p><input class="btn btn-primary" type="submit" value="Dispense"</p>
		</form>
		{% endif %}
	</main>
  

{% endblock %}
