{% extends 'layout.html' %}

{% block body %}
	<main role="main">

		<h1>{{name}}</h1>
		<p>{{description}}</p>
		
		<h2>Ingredients</h2>
		<ul>
			{% for i in ingredients %}
				<li>
					{% for e in i %}
					{{e}}
					{% endfor %}		
				</li>
			{% endfor %}		
		</ul>
		
		<h2>Directions</h2>
		<ol>
			{% for d in directions %}
				<li>{{d}}</li>
			{% endfor %}
		</ol>


		<form method="post" action="">
		   <p>Press the button to start dispensing this in your AutoSpice!</p>
		   <p><input type="text" name="text"</p>
		   <p><input class="btn btn-secondary" type="submit" value="Start" </p>
		</form>
	</main>
  

{% endblock %}
